<div class="jumbotron">
	<div class="container">
		<h1>Beat Stat</h1>
	</div>
</div>
<div class="container">
	<div ng-if="decoding" class="alert alert-success text-center" role="alert">decodin'...</div>
	<div ng-if="!loaded" class="alert alert-info text-center" role="alert">loadin'...</div>
</div>
<chart class="chart" data="frequencyDataL" config="frequencyConfig"></chart>
<chart class="chart pull-right" data="frequencyDataR" config="frequencyConfig"></chart>
<chart class="chart opaque" data="timeDomainData" config="timeDomainConfig"></chart>
